*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #222;
    color: white;
}
body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbEdzBge1ZN89MWfx8r6edoGeGsm04Sgqyk3h2A8YdBM8u4b9-9A)
        repeat center;
    background-size: 5px;
}
html {
    font-family: "VT323", monospace;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    --color: firebrick;
    --border-color: firebrick;
    --shadow-color: rgb(112, 20, 20);

    position: relative;
    font-size: 0.75rem;
    width: 150px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    margin: 2rem;
    border: none;
    background-size: cover;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: "VT323", monospace;
    font-weight: bold;
    background-color: var(--color);
    box-shadow: -3px -3px var(--border-color), 3px 3px var(--border-color),
        0px 9px var(--shadow-color), 3px 6px var(--shadow-color),
        6px 3px var(--shadow-color), 0px 9px var(--shadow-color),
        -3px 6px var(--shadow-color), -6px 3px var(--shadow-color);
    border: dashed red;
}

#button:active {
    top: 6px;

    box-shadow: 3px 3px var(--shadow-color), 6px 0px var(--shadow-color),
        0px 6px var(--shadow-color), -3px 3px var(--shadow-color),
        -6px 0px var(--shadow-color);
}

#display,
#counter {
    height: 32px;
}
